@model Web1Shamil.Models.Classes.Players

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Players</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlayersName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayersName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlayersSurname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlayersSurname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Teams)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Teams.TeamsName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlayersId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
