@model Web1Shamil.Models.Classes.PlayersPositions

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlayersPositions</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Players)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Players.PlayersName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Positions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Positions.PositionsName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PlayersPositionsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
