@model IEnumerable<Web1Shamil.Models.Classes.Teams>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamsStadium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stages)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamsStadium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regions.RegionsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stages.StageName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeamsId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeamsId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeamsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
